form {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
}

.field_content {
  display: block;
  width: 90%;
  height: 2rem;
  font-size: 90%;
  font-family: "Ubuntu-L", Helvetica, Arial, sans-serif;
  color: var(--grey);
  margin-bottom: 5%;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .field_content {
	  height: 1.5rem;
    font-size: 100%;
    margin-bottom: 3%;
  }
}

.button {
  font-size: 90%;
  height: 2rem;   
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .button {
	  font-size: 100%;
    height: 1.5rem;
  }
}




